[submodule "src/api/philgo-api"]
	path = src/api/philgo-api
	url = https://github.com/thruthesky/philgo-api
[submodule "src/api/firebase-api"]
	path = src/api/firebase-api
	url = https://github.com/thruthesky/firebase-api
