$color_pallete_1:#346c9d;
$color_pallete_2:#68b5df;
$color_pallete_3:#ebf4fb;
$color_pallete_4:#79aac8;
$color_pallete_5:#2e3035;
@mixin box() {
    margin: 0 auto 1em;
    padding: 1em;
    max-width: 544px;
    background-color: $color_pallete_4;
    .title {
        position: relative;
        margin-bottom: .6em;
        font-size: 1em;
        font-weight: 200;
        text-align: left;
        color: $color_pallete_3;
        .fa-close {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}
@mixin input_button() {
    .form {
        margin: .4em 0 0;
        input, button {
            margin: 0;
            padding: .1em .2em;
            box-sizing: border-box;
            border: 1px solid $color_pallete_2;
        }
        input {
            width: 100%;
        }
        button {
            padding-left: .6em;
            padding-right: .6em;
            background-color: $color_pallete_2;
            color: $color_pallete_3;
            cursor: pointer;
        }
    }
}
.lobby-page {
    min-height: 100vh;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/b1.jpg");
  
}
header {
    nav {
        border-radius: 0;
        background: $color_pallete_5;
        .nav-buttons {
            .fa-stack {
                cursor: pointer;
            }
            i {
                color: $color_pallete_1;
                &.fa-inverse {
                    color: $color_pallete_3;
                }
            }
        }
    }
}


.content {
    padding: .4em;
    margin-bottom: 45px;
}


#chat-container {
    @include box();
    .chatbox {
        padding: .6em;
        background-color: $color_pallete_3;
        color: $color_pallete_5;
        height: 12.6em;
        overflow: hidden;
        overflow-y: scroll;
        text-align: left;
        .message {
            border-bottom: 1px solid $color_pallete_2;
            line-height: 200%;
        }      
    }
    @include input_button();
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#lobby-settings {
    @include box();
    .buttons {
        button {
            display: block;
            margin: .2em;
            padding: .6em;
            width: 100%;
            text-align: left;
            border: 0;
            cursor: pointer;
            background-color: $color_pallete_3;
            i {
                display: inline-block;
                padding-right: .4em;
                color:$color_pallete_5;
            }
        }
    }
}

#room-list {
    display: block;
    max-width: 544px;
    margin:0 auto;

    .title {
        position: relative;
        margin-bottom: .6em;
        padding: .6em;
        font-size: 1em;
        font-weight: 200;
        text-align: left;
        color: $color_pallete_3;
        background-color: $color_pallete_4;
    }

    .rooms {
        margin-bottom: .2em;
        border: 0.5px solid $color_pallete_4;
        .room-name {
            padding: .6em;
            background-color: $color_pallete_4;
            color:$color_pallete_3;
            cursor: pointer;
        }
        .users {
            padding: .6em;
            background-color: $color_pallete_3;
        }
    }

}

#update-username {
    @include box();
    @include input_button();
}

#create-room {
    @include box();
    @include input_button();
}