$large_break: 730px;
$my_min_width: 226px;
$wb_s_width: 320px;
$wb_s_height: 400px;
$wb_m_width: 480px;
$wb_m_height: 600px;
$wb_l_width: 640px;
$wb_l_height: 800px;
$colorblue: #42bdec;
$colorgrey:#4a5a71;

// base
#room-page {
    min-height: 100vh;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/b1.jpg");
}
// layout

// => Narrrow
#room-settings {
    z-index:110; 
    width: 100%;
    position: relative;
    right: 0;
    button {
        border-radius: 0;
        border-color: white;
    }
}
#video-container {
    background-color: $colorgrey;
    .myself, .others {
        width: 50%;
        video {
            width: 100%;
        }
    }
}
#chat{
    width: 100%;
    .chatbox {
        display: block;
        position: relative;
        overflow: hidden;
        overflow-y: scroll; 
        
        background-color:#97d3ff;
        height: 140px;
            
    }
}
#image-directory {
    width: 100%;
    background-color: $colorgrey;
    color: white;
    img {
        width: 100%;
    }
}
#whiteboard-container {
    margin-bottom: 50px;
    z-index: 100;
    overflow: hidden;
    width: $wb_s_width;
    height: $wb_s_height;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/samplecanvas.png");
    margin-left:auto;
    margin-right:auto;
    canvas {
        position: absolute;
        z-index: 101;
    }
    #canvas-image {
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    #group-button {
        display: block;
        position: relative;
        top: 0.2em;
        right: 0.2em;
        z-index: 102;
    }
}

// => Wide
@media all and ( min-width: $large_break ) {
    .content {
        #room-settings {
            position: absolute;
            width: 170px;
        }
        .left {
            width: $my_min_width;
        }
        &[whiteboard="true"] {
            #video-container {
                .myself, .others {
                    display: inline-block;
                }
            }
            #whiteboard-container {
                position: absolute;
                z-index: 100;
                top: 62px;
                left: $my_min_width + 2px;
                #group-button {
                    display: block;
                    .select-canvas-size {
                        display: inline-block;
                    }
                }
            }
        }
        &[whiteboard="false"] {
            #video-container {
                position: absolute;
                z-index: 100;
                top: 62px;
                left: $my_min_width + 2px;
                .myself, .others {
                    display: inline-block;
                    width: 50%;
                    video {
                        width: 100%;
                    }
                }
            }
        }
    }
}


// module/component

nav {
    border-radius: 0;
    background: #3ea5ff;
}

// state
#whiteboard-container {
    &[size="small"] {
        width: $wb_s_width;
        height: $wb_s_height;
        select {
            width: 45px;
        }
        .select-canvas-size {
            display: none;
        }
    }
    &[size="medium"] {
        width: $wb_m_width;
        height: $wb_m_height;
    }
    &[size="large"] {
        width: $wb_l_width;
        height: $wb_l_height;
    }
}
// theme

