$break_point: 600px;
$left_width: 226px;
$gutter: 10px;
$margin_bottom: 6px;
$whiteboard_small_width: 320px;
$whiteboard_small_height: 400px;
$whiteboard_medium_width: 480px;
$whiteboard_medium_height: 600px;
$whiteboard_large_width: 640px;
$whiteboard_large_height: 800px;
$color_pallete_1:#346c9d;
$color_pallete_2:#68b5df;
$color_pallete_3:#ebf4fb;
$color_pallete_4:#79aac8;
$color_pallete_5:#2e3035;

@mixin title() {
    .title {
        
        position: relative;
        margin-bottom: .6em;
        font-size: 1em;
        font-weight: 200;
        color: $color_pallete_3;
        .fa-close {
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}

// base

// layout
#room-page {
    min-height: 100vh;
    height: 100%;
        nav {
            border-radius: 0;
            background: $color_pallete_5;
            .nav-buttons {
                span {
                    display: inline-block;
                    padding-left: 1.2em;
                    padding-right: 1.2em;
                    cursor: pointer;
                    i {
                        color: $color_pallete_1;
                        &.fa-inverse {
                            color: $color_pallete_3;
                        }
                    }
                }
            }
        
        }
    #device-settings {
        @include title;
        margin-bottom: .6em;
        padding:.6em;
        background-color: $color_pallete_4;
        select {
            width: 100%;
        }
    }
    @media all and ( min-width: $break_point ) {
        
        .content {
            position: relative;
            #room-settings {
                position: absolute;
                width: 170px;
            }
            #whiteboard-container {
                position: absolute;
                top: 0;
                left: $left_width + $gutter;
                #group-button {
                        .select-canvas-size {
                            display: inline-block;
                        }
                        .custom-select {
                            min-width: 55px;
                        }
                    }
            }
            
            &[whiteboard="false"] {
                .left {
                    #chat, #book {
                        position: relative;
                        z-index: 100;
                    }
                }
                .device-video {
                    padding: $gutter;
                    padding-left: $left_width + $gutter;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                }
                
            }
        }
        .left {
            width: $left_width;
        }
        #chat-container {
            .chatbox {
                padding: .6em;
                background-color: $color_pallete_3;
                color: $color_pallete_5;
                height: 12.6em;
                overflow: hidden;
                overflow-y: scroll;
                text-align: left;
                .message {
                    border-bottom: 1px solid $color_pallete_2;
                    line-height: 200%;
                }      
            }
        }

    }
}

// => Narrrow

#video-container {
    margin-bottom: $margin_bottom;
    overflow: auto;
    background-color: $color_pallete_4;
    .user {
        position: relative;
        float: left;
        width: 50%;
        video {
            display: block;
            width: 100%;
        }
        .name {
            position: absolute;
            z-index: 100;
            padding: .1em .4em;
            box-sizing: border-box;
            left: $margin_bottom;
            bottom: $margin_bottom;
            border-radius: 2px;
            background-color: rgba( 200, 200, 200, .8 );
            font-size: .8em;
        }
    }
}
#chat {
    margin-bottom: $margin_bottom;
    span {
        cursor:pointer;
    }
    .chatbox {
        display: block;
        position: relative;
        padding: $gutter;
        overflow: hidden;
        overflow-y: scroll; 
        margin-bottom: $margin_bottom;
        background-color:$color_pallete_2;
        height: 140px;
    }
}

// module


#room-settings {
    z-index:110; 
    width: 100%;
    position: relative;
    right: 0;
    button {
        border-radius: 0;
        border-color: $color_pallete_3;
        background-color: $color_pallete_5;
    }
}

#whiteboard-container {
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    z-index: 100;
    overflow: hidden;
    width: $whiteboard_small_width;
    height: $whiteboard_small_height;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/assets/img/default.png");
    background-position-y: center;
    border:1px solid $color_pallete_5;
    canvas {
        position: absolute;
        z-index: 101;
    }
    #canvas-image {
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    #group-button {
        display: block;
        position: relative;
        text-align: center;
        padding:.1em;
        z-index: 102;
        button {
            background-color: $color_pallete_1;
            border-radius: 50%;
        }
        button:focus {
            outline: none;
            background-color: $color_pallete_2;
        }
        .custom-select {
            min-width: 80px;
        }
    }
}

#book {
    @include title;
    padding: .6em;
    background-color: $color_pallete_4;
    input {
        width: 100%;
        color: $color_pallete_3;
    }
    .delete-all {
        width: 100%;
        background-color: $color_pallete_1;
        color: $color_pallete_3;
        border: none;
        cursor: pointer;
        margin: .5em 0;
    }
    .file-uploaded {
        &:after {
            display: block;
            clear: both;
            content: '';
        }
        background-color: $color_pallete_3;
        .file {
            position: relative;
            float: left;
            width: 33.33%;
            min-height: 68px;
            cursor:pointer;
            img {
                padding: 2px;
                box-sizing: border-box;
                width: 100%;
            }
            .fa-stack {
                font-size: 1em;
                position: absolute;
                right: $margin_bottom;
                bottom: $margin_bottom;
            }
        }
    }
}
// state
#whiteboard-container {
    &[size="small"] {
        width: $whiteboard_small_width;
        height: $whiteboard_small_height;
        select {
            width: 45px;
        }
        .select-canvas-size {
            display: none;
        }
    }
    &[size="medium"] {
        width: $whiteboard_medium_width;
        height: $whiteboard_medium_height;
    }
    &[size="large"] {
        width: $whiteboard_large_width;
        height: $whiteboard_large_height;
    }
    //Text Editor Canvas
    #mycanvas {
        &[drawMode="e"] {
            cursor: url("/assets/img/eraser.png"), auto;
        }
        &[drawMode="l"] {
            cursor: url("/assets/img/pen.png"), auto;
        }
        &[drawMode="t"] {
            cursor: text;
        }
    }

    #textTool {
        display: none;
        margin-top: -34px;
        border: 1px dashed #0777b4;
        position: relative;
        outline: 0;
        background-color: rgba(0,0,0,0);
        font: 8px Verdana;
        overflow: hidden;
        white-space: nowrap;
        resize: both;
        z-index: 102;
        &[drawColor="#161515"] {
            color: #161515;
        }
        &[drawColor="#57646B"] {
            color: #57646B;
        }
        &[drawColor="#fff"] {
            color: #fff;
        }
        &[drawColor="#D01B1B"] {
            color: #D01B1B;
        }
        &[drawColor="#1DB73C"] {
            color: #1DB73C;
        }
        &[drawColor="#2094D7"] {
            color: #2094D7;
        }
       
        &[drawSize="2"] {
            font-size: 8px;
        }
        &[drawSize="4"] {
            font-size: 16px;
        }
        &[drawSize="6"] {
            font-size: 24px;
        }
        &[drawSize="8"] {
            font-size: 32px;
        }
        &[drawSize="10"] {
            font-size: 40px;
        }
    }
}
.error {
    position: fixed;
    z-index: 1;
    top:5em;
    left:0;
    right:0;
    margin:0 auto;
    width: 30em;
}