$break_point: 600px;
$left_width: 226px;
$gutter: 10px;
$margin_bottom: 6px;
$whiteboard_small_width: 320px;
$whiteboard_small_height: 400px;
$whiteboard_medium_width: 480px;
$whiteboard_medium_height: 600px;
$whiteboard_large_width: 640px;
$whiteboard_large_height: 800px;
$color_pallete_1:#346c9d;
$color_pallete_2:#68b5df;
$color_pallete_3:#ebf4fb;
$color_pallete_4:#79aac8;


// base
#room-page {
    
}
// layout
#room-page {
    @media all and ( min-width: $break_point ) {
        
        .content {
            position: relative;
            #whiteboard-container {
                position: absolute;
                top: 0;
                left: $left_width + $gutter;
                .select-canvas-size {
                    display: inline-block;
                }
            }
            &[whiteboard="false"] {
                .left {
                    #chat, #book {
                        position: relative;
                        z-index: 100;
                    }
                }
                #video-container {
                    position: absolute;
                    z-index: 99;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding: $gutter;
                    padding-left: $left_width + $gutter;
                }
            }
        }

        .left {
            width: $left_width;
        }

    }
}



// => Narrrow





#video-container {
    margin-bottom: $margin_bottom;
    overflow: auto;
    background-color: #fff;
    .user {
        position: relative;
        float: left;
        width: 50%;
        video {
            display: block;
            width: 100%;
        }
        .name {
            position: absolute;
            z-index: 100;
            padding: .1em .4em;
            box-sizing: border-box;
            left: $margin_bottom;
            bottom: $margin_bottom;
            border-radius: 2px;
            background-color: rgba( 200, 200, 200, .8 );
            font-size: .8em;
        }
    }
}
#chat {
    margin-bottom: $margin_bottom;
    span {
        cursor:pointer;
    }
    .chatbox {
        display: block;
        position: relative;
        padding: $gutter;
        overflow: hidden;
        overflow-y: scroll; 
        margin-bottom: $margin_bottom;
        background-color:$color_pallete_2;
        height: 140px;
    }
}

// module

nav {
    border-radius: 0;
    background-color: $color_pallete_1;
}
#room-settings {
    z-index:110; 
    width: 100%;
    position: relative;
    right: 0;
    button {
        border-radius: 0;
        border-color: white;
    }
}

#whiteboard-container {
    margin-bottom: 50px;
    z-index: 100;
    overflow: hidden;
    width: $whiteboard_small_width;
    height: $whiteboard_small_height;
    // background-size: 100% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/assets/img/samplecanvas.png");
    background-position-y: center;
    margin-left:auto;
    margin-right:auto;
    canvas {
        position: absolute;
        z-index: 101;
    }
    #canvas-image {
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    #group-button {
        display: block;
        position: relative;
        top: 0.2em;
        right: 0.2em;
        z-index: 102;
    }
}

#book {
    .file-uploaded {
        &:after {
            display: block;
            clear: both;
            content: '';
        }
        background-color: $color_pallete_4;
        .file {
            position: relative;
            float: left;
            width: 33.33%;
            height: 68px;
            cursor:pointer;
            img {
                padding: 2px;
                box-sizing: border-box;
                width: 100%;
            }
            .fa-stack {
                font-size: 1em;
                position: absolute;
                right: $margin_bottom;
                bottom: $margin_bottom;
            }
        }
    }
}
// state
#whiteboard-container {
    &[size="small"] {
        width: $whiteboard_small_width;
        height: $whiteboard_small_height;
        select {
            width: 45px;
        }
        .select-canvas-size {
            display: none;
        }
    }
    &[size="medium"] {
        width: $whiteboard_medium_width;
        height: $whiteboard_medium_height;
    }
    &[size="large"] {
        width: $whiteboard_large_width;
        height: $whiteboard_large_height;
    }
}


/*


// => Wide
@media all and ( min-width: $break_point ) {
    .content {
        #room-settings {
            position: absolute;
            width: 170px;
        }
        .left {
            width: $left_width;
        }
        &[whiteboard="true"] {
            #video-container {
                .myself, .others {
                    display: inline-block;
                }
            }
            #whiteboard-container {
                position: absolute;
                z-index: 100;
                top: 62px;
                left: $left_width + 2px;
                #group-button {
                    display: block;
                    .select-canvas-size {
                        display: inline-block;
                    }
                }
            }
        }
        &[whiteboard="false"] {
            #video-container {
                position: absolute;
                z-index: 100;
                top: 62px;
                left: $left_width + 2px;
                .myself, .others {
                    display: inline-block;
                    width: 50%;
                    video {
                        width: 100%;
                    }
                }
            }
        }
    }
}


// module/component

nav {
    border-radius: 0;
    background: #3ea5ff;
}


// theme

*/