$large_break: 730px;
$leftwidth: 226px;
$boxsize: 300px;
$color_pallete_1:#346c9d;
$color_pallete_2:#68b5df;
$color_pallete_3:#ebf4fb;
$color_pallete_4:#79aac8;
$color_pallete_5:#2e3035;

.entrance-page {
    min-height: 100vh;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/b2.jpg");
  
}
.modal-header {
    text-align: center;
}
.modal-body {
    margin-left:auto;
    margin-right: auto;
    width: 370px;
}
h2{
    text-align: center;
}
nav {
    border-radius: 0;
    background: $color_pallete_5;
    .nav-buttons {
        span {
            display: inline-block;
            padding-left: 1.2em;
            padding-right: 1.2em;
            cursor: pointer;
            i {
                color: $color_pallete_1;
                &.fa-inverse {
                    color: $color_pallete_3;
                }
            }
        }
    }
 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#entrance-container {
    @media all and ( min-height: 560px ) {
        margin-top: 50px;
    }
    @media all and ( min-height: 700px ) {
        margin-top: 100px;
    }
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    .settings-container {
        padding: .6em;
        background-color: $color_pallete_3;
        select {
            margin-bottom: .4em;
            width: 100%;
            box-sizing: border-box;
        }
        .modal-title {
            margin: .4em 0;

            text-align: center;
        }
        .device-video-settings {
            width: 100;
        }
        .device-audio-settings {
            max-width: 100%;
        }
    }
    .title-image {
        img {
            width: 100%;
        }
    }
    
    .form-container {
        padding: 2.4em 2em 1em;
        box-sizing: border-box;
        background: $color_pallete_3;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        input, button {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: $color_pallete_2;
        }
    }

    .buttons {
        padding: .6em 0;
        text-align: center;
        span {
            display: inline-block;
            padding-left: 1.2em;
            padding-right: 1.2em;
            cursor: pointer;
            i {
                color: $color_pallete_1;
                &.fa-inverse {
                    color: $color_pallete_3;
                }
            }
        }
    }

}






